@charset "utf-8";

*{
    margin-left: 7%;
    padding: 3%;
    box-sizing: border-box;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
}

nav>a{
    width: 40vw;
    height: 10vh;
    text-decoration: none;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    display: flex;
    color: white;
    background-color: red;
}